
<div class="grid">
  <div>
    <h2>Hi, {{ playerName }}</h2>
  </div>
  
  <div>
    <div class="waiting-text" *ngIf="state === 0">Waiting for second player</div>
    <div class="waiting-text" *ngIf="yourTurn">Your turn</div>
    <div class="waiting-text" *ngIf="opponentsTurn">Opponents turn</div>

    <div *ngIf="yourTurn || opponentsTurn">
      
      <table>
        <tr>
          <td>
            <button (click)="onGridClick(0,2)">
              <ng-template [ngIf]="this.gridSymbol[0] === 0"><span></span></ng-template>
              <ng-template [ngIf]="this.gridSymbol[0] === 1"><span>X</span></ng-template>
              <ng-template [ngIf]="this.gridSymbol[0] === 2"><span>O</span></ng-template>
            </button>
          </td>
          <td>
            <button (click)="onGridClick(1,2)"><span *ngIf="x === coorX && y === coorY">{{ value }}</span></button>
          </td>
          <td>
            <button (click)="onGridClick(2,2)"><span *ngIf="x === coorX && y === coorY">{{ value }}</span></button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="onGridClick(0,1)"><span *ngIf="x === coorX && y === coorY">{{ value }}</span></button>
          </td>
          <td>
            <button (click)="onGridClick(1,1)"><span *ngIf="x === coorX && y === coorY">{{ value }}</span></button>
          </td>
          <td>
            <button (click)="onGridClick(2,1)"><span *ngIf="x === coorX && y === coorY">{{ value }}</span></button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="onGridClick(0,0)"><span *ngIf="x === coorX && y === coorY">{{ value }}</span></button>
          </td>
          <td>
            <button (click)="onGridClick(1,0)"><span *ngIf="x === coorX && y === coorY">{{ value }}</span></button>
          </td>
          <td>
            <button (click)="onGridClick(2,0)"><span *ngIf="x === coorX && y === coorY">{{ value }}</span></button>
          </td> 
        </tr>
      </table>   

    </div> 
  </div>
</div>


