button {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 12%;
}

h2 {
    padding: 8%;
    color: white;
    font-size: 300%;
}

