<form #f="ngForm" (ngSubmit)="onLogin(f.value)">
  <div>
    <input 
      type="text" 
      name="name1"
      id="name1"
      placeholder="Enter player name1"
      [(ngModel)]="formUser.name1"
      #name1="ngModel">
    <p>{{ playerName }}</p>
  </div>
  <div>
    <input 
      type="text" 
      name="name2"
      id="name2"
      placeholder="Enter player name2"
      [(ngModel)]="formUser.name2"
      #name2="ngModel">
    <p>{{ playerName }}</p>
  </div>
  <div>
    <button type="submit" class="btn btn-success" (click)="onLogin()">Play game</button>
  </div>
</form>

<div>
    <a [routerLink]="['/game-on']" routerLinkActive="active"></a>
</div>



