.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 15%;
}

h3 {
    padding: 5%;
    color: white;
    font-size: 300%;
}

h2 {
    padding: 6%;
    color: white;
    font-size: 450%;
}

input {
    height: 120%;
    width: 60%;
}

