<form #f="ngForm" (ngSubmit)="onLogin(f)">
  <div>
    <input 
      type="text" 
      name="name1"
      id="name1"
      placeholder="Enter player name1"
      ngModel>
  </div>
  <div>
    <input 
      type="text" 
      name="name2"
      id="name2"
      placeholder="Enter player name2"
      ngModel>
  </div>
  <div>
    <button type="submit" class="btn btn-success" (click)="onLogin()">Play game</button>
  </div>
</form>

<div>
    <a [routerLink]="['/game-on']" routerLinkActive="active"></a>
</div>



