/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background-image: url("src/assets/videoblocks-plexus-beautiful-stylish-digital-wallpaper_hk0f70l9z_thumbnail-full01.png");
    font-family: 'Cabin Sketch', cursive !important;
}

div.login {
    height: 100%;
    display: inline-block;
}